.nav {
  overflow: auto;
}

.navbar-brand {
  font-family: "Futura";
}

.nav-link {
  color: white;
}

.background-custom {
  background-image: url('../images/av2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Styles for screens larger than or equal to 768px (e.g., desktop) */
@media (min-width: 1000px) {
  .background-custom {
    width: 100vw;
    background-size: 100%;
  }
}

.text-secondary {
  color: burlywood !important;
}

.font-primary {
  font-family: 'Futura', sans-serif;
}

.font-heading {
  font-family: 'Futura', sans-serif;
  font-weight: 100 !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.space-letters-sm {
  letter-spacing: 1px !important;
}

.space-letters-md {
  letter-spacing: 6px !important;
}

.space-letters-lg {
  letter-spacing: 10px !important;
}

.text-weight-100 {
  font-weight: 100 !important;
}

.text-weight-200 {
  font-weight: 200 !important;
}
